<div class="jumbotron">
  <h1>Bloccit</h1>
  <p>Bloccit is a resource for sharing links with your friends!</p>
  <p>
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Create Topics</h2>
    <p>Bloccit allows users to create topics worth posting about.</p>
  </div>
  <div class="col-md-4">
    <h2>Post</h2>
    <p>Bloccit allows users to post about their favorite topics.</p>
  </div>
  <div class="col-md-4">
    <h2>Comment</h2>
    <p>Comment on posts and share your opinion with a community of like-minded users.</p>
  </div>
</div>
